<!--Warning dialog-->
<div class="modal-content" *ngIf="d.dialogueName == 'ConfirmDelete'">
  <div class="dialog-action-header">
    <h2 mat-dialog-title>{{model.header}}</h2>
  </div>
  <mat-dialog-content class="mat-typography no-pad">
    <div class="default-mg-20">
      <p class="mat-body-1" [innerHTML]="model.msg"></p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button class="inline-btn default-btn" color="primary" (click)="OnDeleteConfirm()">Yes</button>
    <button mat-stroked-button class="inline-btn default-btn" color="black" mat-dialog-close>No</button>
  </mat-dialog-actions>
</div>

<!--Edit User-->
<div class="modal-content" *ngIf="d.dialogueName == 'AddEditUser'">
  <div class="dialog-action-header">
    <h2 mat-dialog-title>{{ Header }}</h2>
  </div>
  <mat-dialog-content class="mat-typography no-pad">
    <mat-card>
      <mat-card-content>
        <p>
          <mat-form-field [ngClass]="{'invalid': !modelValid && !model.userName}">
            <input type="text" matInput placeholder="UserName" [(ngModel)]="model.userName">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field [ngClass]="{'invalid': !modelValid && !model.password}">
            <input type="text" matInput placeholder="Password" [(ngModel)]="model.password">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field [ngClass]="{'invalid': !modelValid && (!model.email || !emailValid)}">
            <input type="email" matInput placeholder="Email" [(ngModel)]="model.email">
          </mat-form-field>
        </p>

      </mat-card-content>
    </mat-card>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button class="inline-btn default-btn" color="primary" (click)="OnSave(model)">Save</button>
    <button mat-stroked-button class="inline-btn default-btn" color="black" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
