<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
      <p>
        <mat-form-field [ngClass]="{'invalid': !modelValid && !username}">
          <input type="text" matInput placeholder="Username" 
                 [(ngModel)]="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field [ngClass]="{'invalid': !modelValid && !password}">
          <input type="password" matInput placeholder="Password"
                 [(ngModel)]="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button (click)="login()">Login</button>
      </div>
  </mat-card-content>
</mat-card>
