<div>
  <button (click)="OpenAddEditPopup('Add')" mat-flat-button class="default-btn small-btn" color="primary">
    Add New User
  </button>
  
  <button (click)="Logout()" mat-flat-button class="default-btn small-btn" color="primary" style="margin: 10px;">
    Logout
  </button>
</div>


<div *ngIf="Users?.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Email</th>
        <th>Photo</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{user.id}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.password}}</td>
        <td>{{user.email}}</td>
        <td>{{user.photo}}</td>
        <td>
          <button (click)="OpenAddEditPopup('Edit', user)" mat-flat-button class="default-btn small-btn" color="primary">
            Edit
          </button>
        </td>
        <td>
          <button (click)="OpenDeletePopup(user.id)" mat-flat-button class="default-btn small-btn" color="primary">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert bg-grey mat-elevation-z4" *ngIf="Users?.length <= 0">
  <span class="message mat-subheading-2">No record found.</span>
</div>
